{{#each partials.gamesContext.locations}}
<div class="col-lg-3 col-md-6 col-sm-6">
  <div class="card_game">
    <img class="card_game_img" src="{{imgUrl}}" alt="">
    <div class="card_game_body">
    <h4 class="card_game_title"><a href="/" title="{{title_game}}"><div class="shorttext50">{{title_game}}</div></a></h4>
      </div>
  </div>
</div>
{{/each}}
