{{#each partials.popular_news_firstContext.locations}}
<div class="col-lg-6 col-md-6 col-sm-12">
<div class="thumbnail text-center">
          <img src="../img/1.jpg" class="card-img" >
          <div class="sn_mask"></div>
          <div class="caption">
            <a href="#"><h4><div class="shorttext100">Activision в коротком тизере намекнули на новый сюжет Call of Duty</div></h4></a>
               <p class="shorttext100">Недавно, на канале Call of Duty в сервисе Youtube, был добавлен короткий ролик, в котором неизвестная</p>
</div></div></div>
{{/each}}
