{{#each partials.popular_newsContext.locations}}
<div class="col-lg-3 col-md-6 col-sm-6">
  <div class="thumbnail text-center">
             <img src="{{imgUrl}}" class="card-img" >
             <div class="sn_mask"></div>
             <div class="caption">
               <a href="#"><h4><div class="shorttext100">{{title_news}}</div></h4></a>
 </div></div> </div>
{{/each}}
