<div class="modal-header"><h3>О нас</h3></div>
<br>
<p>Это тестовый сайт на игровую тематику. В основном, вся информация предназначена для обучения!</p>

<br>
<p><font color="green">Небольшой бонус, в виде предсказания на сегодня:</font></p>
<blockquote>~ {{fortune}}</blockquote>
