<!DOCTYPE html>
<html>

<head>
  <!-- Кодировка веб-страницы -->
  <meta charset="utf-8">
  <!-- Настройка viewport -->
  <title>CV</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="style/AnheloCV.css" />
  <!-- Подключаем Bootstrap CSS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/myJs/login.js"></script>
  <link rel="stylesheet" href="style/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="row">

        <div class="col-lg-12" id="topnavi">
          <div class="row">
            <div class="col-lg-4 head">
              <p>Curriculum vitae</p>
            </div>

            <div class="col-lg-5"></div>

            <div class="col-lg-3">

              <a href="https://www.linkedin.com/in/iryna-cuzenco-7b62b6b2/">
                <img src="img/linkedin.svg" id="linked" />
              </a>

              <a href="https://www.facebook.com/anhelo1408">
                <img src="img/facebook.svg" id="facebook" />
              </a>
              <a href="https://www.pinterest.ca/anhelo1408/">
                <img src="img/pinterest.svg" id="pint" />
              </a>

              <a href="https://www.instagram.com/anhelo1408/">
                <img src="img/instagram.svg" id="inst" />
              </a>
              <a href="https://github.com/Anhelo1408">
                <img src="img/github-icon.svg" id="git" />
              </a>

            </div>
          </div>
        </div>




      </div>
    </div>
  </div>
  <!--top navigation ends hear-->


  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8" id="mainpart">



      <div class="row" id="personalinfobox">
        <!--Начало блока-->
        <div class="col-lg-4">
          <img src="img/photo.jpg" alt="photo" id="photo">
        </div>

        <div class="col-lg-4" id="personalinfo">
          <p id="PersInf">Personal Information</p>
          <ul>
            <li>
              <b>Name and Surname:</b> Irina Kuzenko
              <li>
                <b>Date of birth:</b> 14th of August 1991
                <li>
                  <b>Sex:</b> Female
                  <li>
                    <b>Marital status:</b> Married
                    <li>
                      <b>Nationality:</b> Ukrainian
                      <li>
                        <b>E-mail:</b> anhelo1408@gmail.com
                        <li>
                          <b>Mobile number:</b> +380992484433
          </ul>
        </div>

        <div class="col-lg-3" id="navigation">
          <a href="#" class="list-group-item disabled" id="disabled">
            Curriculum vitae
          </a>
          <a href="#PersInf" class="list-group-item">Personal Info</a>
          <a href="#Work" class="list-group-item">Work Experience</a>
          <!--<a href="#example">Example headline</a>-->
          <a href="#Educ" class="list-group-item">Education</a>
          <a href="#Skills" class="list-group-item">Personal Skills</a>
          <a href="#contact_form" class="list-group-item">Contact Me</a>

        </div>
      </div>
      <!--Конец блока-->


      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10" id="work">
          <p id="Work">Work Experience</p>
          <div class="table-responsive" id="tablework">
            <table class="table">
              <thead>
                <tr>
                  <th>Year</th>
                  <th>Position</th>
                  <th>Institution</th>
                  <th>Duties</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2017</td>
                  <td>Pharmaceutical assistant</td>
                  <td>Papadakis Mihalis, Rethymno (Greece) </td>
                  <td>
                    <ul>
                      <li>Dispense of prescribed medication and other medical products to patients under direction of licensed pharmacist
                        <li>Performance of administrative duties, including answering phones, receiving and inputting prescription orders, operating cash registers, and restocking inventory
                          <li>Giving patients information and education on their prescriptions
                            <li>Answering patients' questions about their medications under the supervision of the pharmacist
                              <li>Making orders for additional drugs as directed by the pharmacist
                                <li>Preparation of billing information for medications

                    </ul>
                  </td>

                </tr>

                <tr>
                  <td>2014-2016</td>
                  <td>Sales assistant</td>
                  <td>Dazz Rethymno (Greece)</td>
                  <td>
                    <ul>
                      <li>Performance of administrative duties, including answering phones, receiving and inputting prescription orders, operating cash registers, and restocking inventory

                    </ul>
                  </td>
                </tr>


                <tr>
                  <td>2014</td>
                  <td>Administrator</td>
                  <td>ABC School Chernivtsi (Ukraine)</td>
                  <td>
                    <ul>
                      <li>School management
                        <li>Language learning plans development and implementation
                          <li>Translation
                    </ul>
                  </td>
                </tr>

                <tr>
                  <td>2012-2013</td>
                  <td>PR-specialist</td>
                  <td>Chernivtsi National University (ChNU), Chernivtsi (Ukraine) </td>
                  <td>
                    <ul>
                      <li>Communication activities of delivering the information about the project to the target audience via mass-media
                        <li>Translation
                    </ul>
                  </td>
                </tr>

              </tbody>
            </table>
            <hr>
          </div>
        </div>
        <!--div tablework-->
        <div class="col-lg-1"></div>
      </div>
      <!--div class row (table work)-->

      <div class="row">
        <div class=col-lg-1></div>
        <div class=col-lg-10 id="Education">
          <p id="Educ">Education</p>
          <div class="table-responsive" id="Education_table">
            <table class="table">
              <thead>
                <tr>
                  <th>Dates of sudy</th>
                  <th>Title of qualification awarded</th>
                  <th>Name and type of organisation providing education</th>
                  <th>Diploma #</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>2007-2012</td>
                  <td>Bachelor of English Philology </td>
                  <td>Faculty of foreign languages, philology and literature studies of ChNU (Chernivtsi National University), Chernivtsi (Ukraine)
                    <a href="URL">http://www.chnu.cv.ua</a>
                  </td>
                  <td>РН№43394999</td>
                </tr>
            </table>
          </div>
          <!--div class table-responsive-->
        </div>
        <!--col-10-->
      </div>
      <div class=col-lg-1></div>

      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10" id="personal_skills">
          <p id="Skills">Personal Skills</p>
          <div class="table-responsive" id="Education_table">
            <table class="table">

              <tbody>
                <tr>
                  <td>
                    <strong>Learning skills</strong>
                  </td>
                  <td>Seeks and willingly takes opportunities to learn. Shows interest in personal learning and development. Looks for feedback to improve understanding.</td>

                </tr>
                <tr>
                  <td>
                    <strong>Adaptability</strong>
                  </td>
                  <td> Adapts easily to new challenges and shows openness to new ways of doing things. Effective at changing plans or actions to deal with changing situations.</td>

                </tr>

                <tr>
                  <td>
                    <strong>Goal setting</strong>
                  </td>
                  <td>Shows the ability to make a decision about what is wanted, and determine when it is to be achieved. Stays committed to the goal, and deals with setbacks realistically.</td>

                </tr>

                <tr>
                  <td>
                    <strong>Initiative</strong>
                  </td>
                  <td>Demonstrates ability to take the initiative in a situation. Shows inclination to find opportunities to make decisions or influence events.</td>

                </tr>

                <tr>
                  <td>
                    <strong>Independence</strong>
                  </td>
                  <td>Able to perform tasks effectively with minimum help or approval, or without direct supervision.</td>

                </tr>

                <tr>
                  <td>
                    <strong>Dependability</strong>
                  </td>
                  <td>Is reliable, responsible and dependable in fulfilling duties. Carefully checks work to ensure all details have been considered</td>

                </tr>

                <tr>
                  <td>
                    <strong>Professionalism</strong>
                  </td>
                  <td>Remains calm and self-controlled under stressful situations. Works to deliver the best interests of the organisation at all times, and maintains appropriate dress code.</td>

                </tr>
            </table>
          </div>
          <div class="col-lg-1"></div>
        </div>
      </div>
      <!--div class row (personal skills)-->






      <div class="row">
        <!--div class row (contact_form)===============================================================================================Contact form  ONLY=================================-->
        <div class="col-lg-1"></div>

        <div class="col-lg-10" id="contact_form">
          <p id="contact">Contact Form </p>






          <div class="container">
            <form action="">

              <!-- <label for="fname">Name</label>
                  <input type="text" id="fname" name="firstname" placeholder="Your name..">-->

              <!--<label for="country">Country</label>
                  <select id="country" name="country">
                    <option value="australia">Australia</option>
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>
                    <option value="other">Other</option>
                  </select>-->

              <label for="mail">
                <strong>E-mail</strong>
              </label>
              <input type="email" id="mail" name="user_e-mail" placeholder="abc@gmail.com">

              <label for="subject">
                <strong>Subject</strong>
              </label>
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px" required></textarea>

              <input type="submit" value="Submit" id="sendMessage">
              <br>

              <div>
                <a href="https://www.linkedin.com/in/iryna-cuzenco-7b62b6b2/">
                    <img src="img/linkedin.svg" id="linked" />
                  </a>

                <a href="https://www.facebook.com/anhelo1408">
                    <img src="img/facebook.svg" id="facebook" />
                  </a>
                <a href="https://www.pinterest.ca/anhelo1408/">
                    <img src="img/pinterest.svg" id="pint" />
                  </a>

                <a href="https://www.instagram.com/anhelo1408/">
                    <img src="img/instagram.svg" id="inst" />
                  </a>
                <a href="https://github.com/Anhelo1408">
                    <img src="img/github-icon.svg" id="git" />
                  </a>
              </div>

            </form>
          </div>










          <div class="col-lg-1"></div>
        </div>
      </div>
      <!-- End of div contact form======================================================================================Contact Form Only==============================================================================-->







    </div>
    <!--main part div-->
    <div class="col-lg-2"></div>
  </div>
  <!--div class row (main)-->









</body>
