<div class="modal-header"><h3>Галерея изображений</h3> <a href="contest/add_img"><button class="btn btn-succes">Добавить изображение</button></a></div>

    <link rel="stylesheet" href="../css/fancybox.min.css">

<style>
        .thumb img {
            -webkit-filter: grayscale(0);
            filter: none;
            border-radius: 5px;
            background-color: #fff;
            border: 1px solid #ddd;
            padding: 5px;
        }

        .thumb img:hover {
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
        }

        .thumb {
            padding: 5px;
        }
    </style>


    <div class="row">
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../img/1.jpg">
                <img class="img-fluid" src="../img/1.jpg" alt="...">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../img/2.jpg">
                <img class="img-fluid" src="../img/2.jpg" alt="...">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../img/3.jpg">
                <img class="img-fluid" src="../img/3.jpg" alt="...">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../img/4.jpg">
                <img class="img-fluid" src="../img/4.jpg" alt="...">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../img/5.jpg">
                <img class="img-fluid" src="../img/5.jpg" alt="...">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../img/6.jpg">
                <img class="img-fluid" src="../img/6.jpg" alt="...">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../img/7.jpg">
                <img class="img-fluid" src="../img/7.jpg" alt="...">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../img/8.jpg">
                <img class="img-fluid" src="../img/8.jpg" alt="...">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../img/1.jpg">
                <img class="img-fluid" src="../img/1.jpg" alt="...">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../img/2.jpg">
                <img class="img-fluid" src="../img/2.jpg" alt="...">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../img/3.jpg">
                <img class="img-fluid" src="../img/3.jpg" alt="...">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../img/4.jpg">
                <img class="img-fluid" src="../img/4.jpg" alt="...">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../img/5.jpg">
                <img class="img-fluid" src="../img/5.jpg" alt="...">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../img/6.jpg">
                <img class="img-fluid" src="../img/6.jpg" alt="...">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../img/7.jpg">
                <img class="img-fluid" src="../img/7.jpg" alt="...">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="../img/8.jpg">
                <img class="img-fluid" src="../img/8.jpg" alt="...">
            </a>
        </div>
    </div>
