<div class="title_module"><span>Test 1</span></div>
<br>
<h5><span class="text_test2">Введите число наоборот и проверьте совпадение</span></h5>
    <input class="form-control" type="text" id="firstnumb" name="text" readonly value="" onclick="randomnum()">
    <br>
      <input class="form-control" type="text" id="secondnumb" name="text" value="">
      <br>
        <input class="btn btn-info" type="submit" id="submit" name="submit" value="Проверить" onclick="checknumber()">

<br><br>
      <div id="result"></div>

<br>
<div class="title_module"><span>Test 2</span></div>
<br>
<h5><span class="text_test2">Сгенерируйте числа от минимального до максимального, и выберите знак операции:</span></h5>
<input type="text" id="first" placeholder="мин число" onkeyup="checkParams()" autocomplete="off" value="">
<input type="text" id="second" placeholder="макс число" onkeyup="checkParams()" autocomplete="off" value="">
<select class="" id="randfunction">
  <option value="+"> + </option>
  <option value="-"> - </option>
  <option value="*"> * </option>
  <!-- <option value="/"> / </option>  -->
</select>
<input type="submit" id="btn_sozdat" value="Создать" onclick="funcrandom()" disabled>
<input type="text" name="text" value="" id="finOperation"  style="display:none;">
<br>
<div id="text"><br>Сколько будет?</div>
<div id="resultat" ></div><div id="znak" ></div><div id="resultat2" ></div><div id="finish"></div>

<br><br>
<input placeholder="Введите результат" type="text" onkeyup="checkresult()" value="" id="yourchoice">
<input type="submit" id="btn_proverka" value="Проверить" onclick="proverka()" disabled>

<div id="knopka_result"><div class="slider"><br>Правильно ответили <span id="target"></span> раз(а). || Не правильно <span id="target2" ></span> раз(а).
<button type="submit" id="btn_hide">Скрыть</button>
</div>
<br>
<button type="submit" id="btn_show">Показать результат</button> <input type="submit" value="Очистить историю ответов" onclick="del_storage()"></div>

<br><br>
